---
layout: home
---
<div class="rows">
  <section class="row row--nameplate">
    <div class="content content--flex">
      <div class="nameplate-container">
        {% include logo--animated.html %}
        <h1 class="logotype__auxiliary-text"><span>Lauren Woodrick</span><span class="fw-400">UX &amp; Front-End Designer</span></h1>
        <ul class="social">
          <li><a href="https://github.com/lwoodrick" aria-label="Lauren's Github"><span class="fab fa-github"></span></a></li>
          <li><a href="https://www.linkedin.com/in/laurenwoodrick/" aria-label="Lauren's LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://twitter.com/LoremIpsam" aria-label="Lauren's Twitter"><span class="fab fa-twitter"></span></a></li>
          <li><a href="https://codepen.io/lwoodrick/" aria-label="Lauren's Codepen"><span class="fab fa-codepen"></span></a></li>
        </ul>
      </div>
      <a class="section-link link-to-about" href="#about"><span>About</span></a>
    </div><!-- .container -->
  </section>
  <section id="about" class="row row--about">
    <div class="content content--about">
      <h2 class="section-title">About</h2>
      <div class="section-copy">
        <h3 class="section-lede">Lauren Woodrick is a digital chimera</h3>
        <p class="section-text mb-1 pb-05">
          She currently plies her trade at <a class="link link--reverse" href="https://teamgaslight.com">Gaslight</a> as a User Experience Designer, working to architect and craft client software products from inception to launch.
        </p>
      </div>
      <div class="section-sidebar__container">
        <div id="svgContainer" class="svg-container">
          {% include ux-lauren.svg %}
          {% include visual-lauren.svg %}
          {% include dev-lauren.svg %}
          {% include ux-lauren.svg %}
          {% include visual-lauren.svg %}
        </div>
        <div class="section-sidebar">
          <div class="style-selector">
            <h4 class="style-selector__group"><span class="style-selector__group__title">Style</span> <a id="style-visual" class="selected fw-400">Visual</a> <a id="style-dev" class="fw-400">Front-End</a><a id="style-ux" class="fw-400">UX</a></h4>
          </div>
          <div id="statsContainer" class="section-sidebar__stats open">
            <h4 class="mt-05 mb-05">Technical Know-How</h4>
            <button id="statsToggle" class="section-sidebar__stats__toggle open"><span class="open">+</span><span class="close">&ndash;</span></button>
            <ul class="list">
              <li>Adobe Creative Suite + Sketch</li>
              <li>HTML/CSS (+ Preprocessors)</li>
              <li>Enough JavaScript to be dangerous</li>
              <li>Plays nice with React, Phoenix, Ruby on Rails, Angular, and Ember </li>
            </ul>
          </div>
        </div>
        <a class="section-link section-link--reverse link-to-work" href="#work"><span>Work</span></a>
      </div>
    </div>
  </section>
  <section id="work" class="row row--work">
    <div class="content content--work">
      <h2 class="section-title">Work</h2>
      <div class="section-copy">
        <h3 class="section-lede">Getting down to business</h3>
        <p class="section-text">
          Being a generalist has saddled me with some unique challenges from project to project.
          In each case, I take an agile tack on teasing out user needs and crafting products that
          meets those users where they are in a clean and straightforward way.
        </p>
      </div>
        <div class="section-sidebar">
            <a class="case-study" href="portfolio/pff.html">
              <div>
                <p class="case-study__tag"><span>Project</span></p>
                <h4 class="case-study__description">Crafting statistical snapshots for live commentary </h4>
                <p class="case-study__client">Pro Football Focus (2015&ndash;2016)</p>
              </div>
            </a>
            <a class="case-study" href="portfolio/pff-2.html">
              <div>
                <p class="case-study__tag"><span>Project</span></p>
                <h4 class="case-study__description">Optimizing live game data collection </h4>
                <p class="case-study__client">Pro Football Focus (2016)</p>
              </div>
            </a>

            <a class="case-study" href="portfolio/lendkey.html">
              <div>
                <p class="case-study__tag"><span>Project</span></p>
                <h4 class="case-study__description">Coding a site for every client that can be read by any customer</h4>
                <p class="case-study__client">LendKey (2016&ndash;2017)</p>
              </div>
            </a>

            <a class="case-study" href="portfolio/gis.html">
              <div>
                <p class="case-study__tag"><span>Project</span></p>
                <h4 class="case-study__description">Helping landscapers take their business on the road</h4>
                <p class="case-study__client">GIS Dynamics (2017)</p>
              </div>
            </a>

            <a class="case-study">
              <div>
                <p class="case-study__tag"><span>Project (In Progress)</span> <span class="fas fa-lock lock-icon ml-auto"></span></p>
                <h4 class="case-study__description">Designing a flexible auction platform for a complex industry </h4>
                <p class="case-study__client">OceanConnect Marine (2018–2019)</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
