///////////////////////////////////
//          ANIMATIONS           //
///////////////////////////////////

// Logo Animation

.logotype {
  font-size: 140%;
}

.logotype {
  position: relative;
  width: 6rem;
  height: 4rem;
  margin: 1rem 7rem 0 auto;

  @media (max-width: 380px) {
    margin-right: auto;
  }
}
  .logotype .top {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    top: 0;
  }
  .logotype .base {
    width: 100%;
    height: 62.5%;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 37.5%;
    left: 25%;
  }
  .logotype .wedge {
    position: relative;
    width: 25%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    background-color: #222;
  }
    .logotype .wedge:first-child {
      height: 100%;
      top: 0;
      margin-right: 0.45rem;
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards l-vertical;
    }
    .logotype .wedge:nth-child(2) {
      left: -2px;
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical;
    }
    .logotype .wedge:nth-child(3) {
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical;
    }
  .logotype .reverse-wedge {
    position: relative;
    background: $brand-gradient;
    width: 25%;
    height: 100%;
    margin: 0 auto;
  }
    .logotype .reverse-wedge:first-child {
      background: transparent;
    }
    .logotype .reverse-wedge:not(:first-child) {
      width: 23.33333%;
      left: -25%;
    }
    .logotype .reverse-wedge:nth-child(2) {
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical-reverse;
    }
    .logotype .reverse-wedge:nth-child(3) {
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical-reverse;
    }

@keyframes l-vertical {
  50% {
    transform: skewX(0deg);
  }
  75% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(20deg);
  }
}
@keyframes w-vertical {
  25% {
    top: 0%;
    height: 100%;
  }
  50% {
    top: 37.5%;
    height: 62.5%;
    transform: skewX(0deg);
  }
  75% {
    top: 37.5%;
    height: 62.5%;
    transform: skewX(20deg);
  }
  100% {
    top: 37.5%;
    height: 62.5%;
    transform: skewX(20deg);
  }
}
@keyframes w-vertical-reverse {
  50% {
    transform: skewX(0deg);
    left: -25%;
  }
  75% {
    transform: skewX(-20deg);
    left: -8.33333%;
  }
  100% {
    transform: skewX(-20deg);
    left: -8.33333%;
  }
}

.logotype--static *, .logotype--static ~ *, .logotype--static ~ * > span {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}

.logotype {
  font-size: 140%;
}

// TODO: Figure out what exactly I was attempting to achieve here...

.logotype--static .wedge:first-child {
  animation: none;
  transform: skewX(20deg);
}
.logotype--static .wedge:nth-child(2) {
  animation: none;
  top: 1.5rem;
  height: 2.5rem;
  transform: skewX(20deg);
}
.logotype--static .wedge:nth-child(3) {
  animation: none;
  top: 1.5rem;
  height: 2.5rem;
  transform: skewX(20deg);
}
.logotype--static .reverse-wedge:nth-child(2) {
  animation: none;
  height: 2.5rem;
  transform: skewX(-20deg);
  left: -0.5rem;
}
.logotype--static .reverse-wedge:nth-child(3) {
  animation: none;
  height: 2.5rem;
  transform: skewX(-20deg);
  left: -0.5rem;
}

// Typographic Animation

  h1 span {
    opacity: 0;
    margin-top: -4px;
    animation: 0.7s 2.8s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards logo-wipe;
  }
    h1 span:last-child {
      animation: 0.7s 3s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards logo-wipe;
    }

  @keyframes logo-wipe {
    0% {
      opacity: 0;
      margin-top: -4px;
    }
    50% {
      margin-top: 0;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }

// About Section Animation

// Visual

svg.style--visual {
  animation: visual-animation 0.5s infinite alternate cubic-bezier(.08,.6,.69,.97);
}
@keyframes visual-animation {
  0% {
    left: -10px;
    top: 5px;
  }

  25% {
    left: -5px;
    top: 2.5px;
  }

  50% {
    left: 0;
    top: 0;
  }

  75% {
    left: 5px;
    top: 2.5px;
  }

  100% {
    left: 10px;
    top: 5px;
  }
}

// Dev

svg.style--dev path.hand--1 {
  transform-origin: 228px 376px;
  animation: dev-animation 0.2s infinite alternate-reverse cubic-bezier(.08,.6,.69,.97);
}

svg.style--dev path.hand--2 {
  transform-origin: 329px 400px;
  animation: dev-animation 0.2s infinite alternate cubic-bezier(.08,.6,.69,.97);
}
@keyframes dev-animation {
  0% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

// UX

svg.style--ux path.body {
  animation: ux-animation 1s infinite alternate ease-in-out;
}
@keyframes ux-animation {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0px);
  }
}
