///////////////////////////////////
//          ANIMATIONS           //
///////////////////////////////////

// Logo Animation

.logotype {
  font-size: 140%;
}

.logotype {
  position: relative;
  width: 6rem;
  height: 4rem;
  margin: 1rem 7rem 0 auto;
}
  .logotype .top {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    top: 0;
  }
  .logotype .base {
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    left: 1.5rem;
  }
  .logotype .wedge {
    position: relative;
    width: 1.5rem;
    height: 4rem;
    top: 0;
    margin: 0 auto;
    background-color: #222;
    transform: skewX(0deg);
  }
    .logotype .wedge:first-child {
      height: 4rem;
      top: 0;
      margin-right: 0.45rem;
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards l-vertical;
    }
    .logotype .wedge:nth-child(2) {
      left: -2px;
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical;
    }
    .logotype .wedge:nth-child(3) {
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical;
    }
  .logotype .reverse-wedge {
    position: relative;
    background: $brand-gradient;
    width: 1.5rem;
    height: 4rem;
    top: 0;
    margin: 0 auto;
    transform: skewX(0deg);
  }
    .logotype .reverse-wedge:first-child {
      background: transparent;
    }
    .logotype .reverse-wedge:not(:first-child) {
      width: 1.4rem;
      height: 2.5rem;
      top: 1.5rem;
      left: -1.5rem;
    }
    .logotype .reverse-wedge:nth-child(2) {
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical-reverse;
    }
    .logotype .reverse-wedge:nth-child(3) {
      animation: 2s 1s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards w-vertical-reverse;
    }

@keyframes l-vertical {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(0deg);
  }
  75% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(20deg);
  }
}
@keyframes w-vertical {
  0% {
    top: 0rem;
    height: 4rem;
    transform: skewX(0deg);
  }
  25% {
    top: 0rem;
    height: 4rem;
    transform: skewX(0deg);
  }
  50% {
    top: 1.5rem;
    height: 2.5rem;
    transform: skewX(0deg);
  }
  75% {
    top: 1.5rem;
    height: 2.5rem;
    transform: skewX(20deg);
  }
  100% {
    top: 1.5rem;
    height: 2.5rem;
    transform: skewX(20deg);
  }
}
@keyframes w-vertical-reverse {
  0% {
    top: 0rem;
    height: 4rem;
    transform: skewX(0deg);
    left: -1.5rem;
  }
  25% {
    top: 0rem;
    height: 4rem;
    transform: skewX(0deg);
    left: -1.5rem;
  }
  50% {
    top: 1.5rem;
    height: 2.5rem;
    transform: skewX(0deg);
    left: -1.5rem;
  }
  75% {
    top: 1.5rem;
    height: 2.5rem;
    transform: skewX(-20deg);
    left: -0.5rem;
  }
  100% {
    top: 1.5rem;
    height: 2.5rem;
    transform: skewX(-20deg);
    left: -0.5rem;
  }
}

.logotype--static *, .logotype--static ~ *, .logotype--static ~ * > span {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}

.logotype {
  font-size: 140%;
}

// TODO: Figure out what exactly I was attempting to achieve here...

.logotype--static .wedge:first-child {
  animation: none;
  transform: skewX(20deg);
}
.logotype--static .wedge:nth-child(2) {
  animation: none;
  top: 1.5rem;
  height: 2.5rem;
  transform: skewX(20deg);
}
.logotype--static .wedge:nth-child(3) {
  animation: none;
  top: 1.5rem;
  height: 2.5rem;
  transform: skewX(20deg);
}
.logotype--static .reverse-wedge:nth-child(2) {
  animation: none;
  top: 1.5rem;
  height: 2.5rem;
  transform: skewX(-20deg);
  left: -0.5rem;
}
.logotype--static .reverse-wedge:nth-child(3) {
  animation: none;
  top: 1.5rem;
  height: 2.5rem;
  transform: skewX(-20deg);
  left: -0.5rem;
}

// Typographic Animation

  h1 span {
    opacity: 0;
    margin-top: -4px;
    animation: 0.7s 2.8s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards logo-wipe;
  }
    h1 span:last-child {
      animation: 0.7s 3s cubic-bezier(0.41, 0.02, 0.39, 0.71) forwards logo-wipe;
    }

  @keyframes logo-wipe {
    0% {
      opacity: 0;
      margin-top: -4px;
    }
    50% {
      margin-top: 0;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
