///////////////////////////////////
//           HOME PAGE           //
///////////////////////////////////
//////////////////
// Sections
//////////////////
// Intro/Nameplate

.row--nameplate {
  // Generic Row Styles for Reference:
  // grid-template-rows: auto;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". nameplate .";

  .content {
    grid-area: nameplate;
  }

  @media (max-width: 380px) {
    grid-template-areas: "nameplate nameplate nameplate";
  }
}

.nameplate-container {
  width: 19rem;
  height: 20rem;
  margin: 0 auto;

  @media (max-width: 380px) {
    width: 100%;
  }
}

.logotype__auxiliary-text {
  &> span {
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  &> span:first-child {
    @media (max-width: 380px) { font-size: 2rem; }
  }

  &> span:last-child {
    @media (max-width: 380px) { font-size: 1.25rem; }
  }
}
// About Me

.row--about {
  // Generic Row Styles for Reference:
  // grid-template-rows: auto;
  // grid-template-columns: 1fr 1fr 1fr;
  background: $brand-gradient;
  height: 100vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". . ." "about about about" ". . .";

  .content {
    grid-area: about;
  }
  @media (max-width: 1024px) {
    grid-template-rows: 1fr;
    grid-template-areas: "about about about";
  }
  @media (max-width: 768px) and (max-height: 1023px) {
    height: auto;
    min-height: 100vh;
  }
}

.content--about {
  display: grid;
  color: $white;
  max-height: 50rem;
  grid-template-rows: 4rem calc(100vh - 4rem);
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-template-areas: "section-name skills skills" "copy skills skills";
  @media (max-width: 1300px) {
    grid-template-areas: "section-name skills skills" "copy skills skills";
  }
  @media (max-width: 768px) {
    margin: unset;
    max-height: none;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto 1fr;
    grid-template-areas: "section-name" "copy" "skills";
  }
  // Grid Area Assignment
  .section-title {
    grid-area: section-name;
  }

  .section-copy {
    grid-area: copy;
    @media (max-width: 1300px) {
      margin-right: 2rem;
    }
    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
    @media (max-width: 600px) {
      margin-right: 0;
    }
  }

  .section-sidebar__container {
    grid-area: skills;
    position: relative;
    bottom: 0;
    overflow: hidden;
    border: 1px solid $white;
    height: 60vh;

    @media (max-width: 768px) {
      max-height: 100vmin;

    }
  }

  .svg-container {
    position: relative;
    z-index: 1;
    left: -100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    bottom: 0;
    transition: left 0.2s ease-in;

    & > svg {
      position: relative;
      flex: 0 0 100%;
      width: 100%;
      height: auto;
    }

    @media(max-width: 768px) {
      left: -110%;
    }
  }

  .style-selector {
    a {
      display: inline-block;
      border: 1px solid #fff;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
    }

    a.selected {
      background-color: rgba(0, 0, 0, 0.2);
    }

    a:hover,
    li a:focus {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .style-selector__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      justify-content: flex-end;
    }
  }

  .style-selector__group__title {
    display: inline-block;
    margin-right: 0.5rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .section-sidebar {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 0;
    align-self: flex-start;
    max-width: 20rem;
    margin-left: auto;
    border: none;
    @media (max-width: 768px) {
      margin-top: 0;
      max-width: 50%;
    }
    @media (max-width: 480px) {
      margin-top: 0;
      max-width: none;
    }
  }

  .section-sidebar__stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    margin-top: 1rem;
    max-width: 20rem;
    margin-left: auto;
    padding: 0 1rem;
    border: $border-white;
    transition: $transition;

    &.open {
      transition: $transition;
      background: rgba(0,0,0,0.4);
    }
    @media (max-width: 768px) {
      margin-top: 0;
      max-width: none;

      &.open {
        transition: $transition;
        background: rgba(0,0,0,0.8);
      }
    }
  }

  .section-sidebar__stats__toggle {
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-weight: bold;
    color: $white;
    line-height: 1;

    // Displayed Icon

    span.open { display: inline-block; }
    span.close { display: none; }

    &.open span.open { display: none; }
    &.open span.close { display: inline-block; }

    // Collapse Section Control

    &+ .list {
      transition: $transition;
      margin: 0;
      max-height: 0px;
      flex: 1 1 100%;
    }

    &.open + .list {
      max-height: 1000px;
      margin-bottom: 1rem;
    }
  }

  .section-link {
    position: absolute;
    z-index: 2;
    right: 2rem;
    bottom: -6rem;
    margin-right: 0;
    border-bottom: 0;
    background-color: inherit;

    @media (max-width: 768px), (max-height: 799px) {
      right: 1rem;
      bottom: 4rem;
    }

    @media (max-width: 480px) {
      bottom: 1rem;
      right: 1rem;
      &:before, &:after { display: none; }
    }

    &:link,
    &:visited {
      border-bottom: none;
    }

    &:focus,
    &:hover {
      border-bottom: none;
      background: none !important;
    }
  }
}
// Work Listing

.row--work {
  // Generic Row Styles for Reference:
  // grid-template-rows: auto;
  // grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  grid-template-rows: 1fr 55rem 1fr;
  grid-template-areas: ". . ." "work work work" ". . .";
  background: url("../images/planes.svg");
  background-size: auto 90%;
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;

  .content {
    grid-area: work;
  }
  @media (max-width: 1024px) {
    background: $black-to-blue-gradient;
    grid-template-areas: "work work work";
    grid-template-rows: auto;
    // overflow: auto;
    height: min-content;
  }
}

.content--work {
  display: grid;
  color: #222;
  grid-template-rows: 4rem 24rem 17rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-template-areas: "section-name piece piece" "copy piece piece" "copy piece piece";
  @media (max-width: 1024px) {
    grid-template-rows: 4rem 24rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section-name piece" "copy piece" "copy piece";
  }
  @media (max-width: 768px) {
    height: auto !important;
    grid-template-rows: 3rem auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "section-name" "copy" "piece";
  }
  // Grid Area Assignment
  .section-title {
    grid-area: section-name;
    @media (max-width: 1024px) {
      color: $white;
    }
  }

  .section-copy {
    grid-area: copy;
    @media (max-width: 1024px) {
      background-color: $white;
      padding: 1.5rem;
      align-self: start;
    }
  }

  .section-sidebar {
    grid-area: piece;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-self: flex-start;
    // height: 100%;
    margin-top: 1rem;
    margin-right: 6rem;
    padding: 2rem;
    border: none;
    @media (max-width: 1024px) {
      margin-right: 0;
      background: none;
      justify-content: unset;
      padding-top: 3rem;
    }
    @media (max-width: 768px) {
      margin-bottom: 2rem;
      padding: 0;
      justify-content: unset;
    }
  }

  .section-link {
    grid-area: link;
    align-self: center;
  }

  .case-study {
    display: block;
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 1rem;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
    transition: $transition;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:focus,
    &:hover {
      margin-left: -1rem;
      margin-right: 1rem;
    }

    &__tag {
      display: flex;
      text-transform: lowercase;
      color: $gray;

      span {
        display: inline-block;
      }

      &:focus,
      &:hover,
      &:visited {
        color: $gray;
      }
    }

    &__description {
      @extend .fs-1-5;
      color: $black;

      &:focus,
      &:hover,
      &:visited {
        color: $black;
      }
      @media (max-width: 1024px) {
        line-height: 1.2;
      }
    }

    &__client {
      color: $gray;

      &:focus,
      &:hover,
      &:visited {
        color: $gray;
      }
    }
  }
}
