///////////////////////////////////
//         PORTFOLIO PAGE        //
///////////////////////////////////

.content--portfolio {
  position: relative;
  z-index: 1;
  padding: 4rem 2rem 1rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  color: #222;
  grid-template-rows: 8rem auto auto auto;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo . sidebar"
    "title gallery gallery"
    "copy-2 gallery gallery"
    "link-back-2 gallery gallery";

// Tablet Grid

@media (max-width: 1024px) {
  grid-template-rows: 8rem auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo sidebar"
    "title gallery"
    "copy-2 gallery"
    "link-back-2 gallery";
}

// Tablet Grid

@media (max-width: 768px) {
  padding-top: 6rem;
  grid-template-rows: 8rem auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo sidebar"
    "title gallery"
    "copy-2 gallery"
    "link-back-2 gallery";
}

@media (max-width: 600px) {
  grid-template-rows: 8rem auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo ."
    "title title"
    "sidebar sidebar"
    "gallery gallery"
    "copy-2 copy-2"
    "link-back-2 link-back-2";
}

// Cell Styles

    .section-logo {
      grid-area: logo;
      position: relative;

      @media (max-width: 1300px) {
        left: 0.5rem;
      }

      .logotype { margin: 2rem 0; }
    }

    .section-link {
      grid-area: link-back;
    }

    .section-copy {
      &--1 { grid-area: title; }
      &--2 {
        grid-area: copy-2;
        margin: 0px -2rem;
        padding: 2rem;
        background: linear-gradient(20deg, #2d43d0, #ff541e);

        h3 { margin-bottom: 1rem;}

        @media(max-width: 1024px) {
          background: $black;
        }

      }

      h1 {
        @extend .fs-6;
      }

      h2 {
        margin: 1.5rem 0;
        font-family: $font-copy;
        font-weight: 400;
        text-transform: none;
      }

      p {
        line-height: 2;
        &+ p {
          margin-top: 1rem;
          text-indent: 1rem;
        }
      }
      &> *:last-child {
        margin-bottom: 2rem;
      }
    }


// Subtitle Below Hero

    .section-subtitle {
      grid-area: subtitle;
      padding: 2rem;

      h2 {
        font-weight: 300;
        text-transform: none;
      }

      @media (max-width: 768px) {
        padding: 2rem 1rem;
      }
    }

// Copy Areas

.section-gallery {
  grid-area: gallery;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  @media (max-width: 768px) {
    margin: 0 -2rem;
  }

  &--pff {
    @media (max-width: 1024px) {
      margin-top: 8rem;
    }
    @media (max-width: 600px) {
      margin-top: 1rem;
    }

    .section-thumbnail-2 {
      width: 50%;
      order: 2;

      @media (max-width: 1024px) {
        order: 3;
        width: 100%;
        left: unset;
      }

      img {
        position: relative;
        height: auto;
        width: 200% !important;
        left: -50.5%
      }
    }
    .section-gallery__pair {
      width: 50%;
      order: 3;

      @media (max-width: 1024px) {
        width: 100%;
        order: 2;
      }
    }
  }
  &--pff-2 {
    .section-thumbnail-2, .section-thumbnail-3 {
      width: 50%;

      @media (max-width: 1024px) {
        width: 100%;
        left: unset;
      }
    }
  }

  &--lendkey {
    .section-thumbnail-2, .section-thumbnail-3, .section-thumbnail-4 {
      width: 50%;

      @media (max-width: 1024px) {
        width: 100%;
        left: unset;
      }
    }
  }
  &--gis {
    .section-thumbnail-3, .section-thumbnail-4 {
      width: 50%;

      @media (max-width: 1024px) {
        width: 100%;
        left: unset;
      }
    }
  }
}

    div[class^="section-thumbnail-"] {
      position: relative;
    }

    .section-thumbnail-1 { grid-area: image-1; @extend .section-thumbnail }

    .section-thumbnail-2 { grid-area: image-2; @extend .section-thumbnail }

    .section-thumbnail-3 { grid-area: image-3; @extend .section-thumbnail }

    .section-thumbnail-4 { grid-area: image-4; @extend .section-thumbnail }

    .section-thumbnail {
      position: relative;

      img.sample {
        width: 100%;
      }

      img.sample--outlined {
        border: $border-light-gray;
        box-sizing: border-box;
      }

      @media (max-width: 600px) {
        max-width: 37.5rem;
      }

      img[thumbnail] {
        position: relative;
      }

      img[thumbnail]:after {
        content: '';
        display: block;
        height: 4rem;
        width: 4rem;
        position: absolute;
        right: 0;
        top: 0;
        border: 2rem solid $brand-blue;
        box-sizing: border-box;
      }
    }

    .section-thumbnail--outlined {
      border: $border-light-gray;
      box-sizing: border-box;
    }

    // Specific Thumbnail Handling

    .section-link-2 {
      grid-area: link-back-2;

      @media (max-width: 600px) {
        left: 3rem;
      }
    }

  .section-thumbnail-reference {
    display: inline-block;
    padding: 0.25rem 0.45rem;
    line-height: 1;
    background-color: $gray;
    color: $white;
    font-weight: bold;
    border-radius: 50%;
    text-indent: 0;
  }

  img[thumbnail] + .section-thumbnail-reference {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  .section-sidebar {
    grid-area: sidebar;
    align-self: flex-start;
    margin: 2rem;
    margin-left: 0;
    padding: 1rem;
    border: 1px solid #222;
    position: relative;
    z-index: 2;
    background-color: $black;
    color: $white;

    @media (max-width: 1024px) {
      margin: 2rem 0;
    }

    @media (max-width: 768px) {
      width: auto;
      margin: 0 0 2rem 0;
    }
  }
}
